* {
  border: 2px solid white;
}

#botbox {
  background-color: ;
  height: ;
  width: 90px;
}

.topbox {
  background-color: purple;
  height: 40px;
  width: 90px;
}

#botbox2 {
  background-color: ;
  height: ;
  width: 90px;
}

.topbox2 {
  background-color: ;
  height: 40px;
  width: 90px;
} 

ul {
  font-size: 12px;
  color: black;
}

p {
  font-size: 16px;
  color: white;
}
