* {
  border: 2px solid white;
}

#botbox {
  background-color: ;
  height: ;
  width: 90px;
}

#botbox ul {
 
}

.topbox {
  background-color: purple;
  height: 40px;
  width: 90px;
}

#botbox2 {
  background-color: ;
  height: ;
  width: 90px;
}

#botbox2 ul {
}

.topbox2 {
  background-color: ;
  height: 40px;
  width: 90px;
} 


