#botbox {
  background-color: #c08081;
  width: 400px;
  opacity: 0.5;
  border: 2px solid white;
  margin: 0 auto;
}

.topbox {
  background-color: #c08081;
  opacity: 0.7;
  width: 200px;
  border: 2px solid white;
  margin: 25px auto;
}

#botbox2 {
  background-color: #8E4585;
  width: 400px;
  opacity: 0.5;
  border: 2px solid white;
  margin: 0 auto;
}

.topbox2 {
  background-color: #8E4585;
  width: 200px;
  opacity: 0.7;
  border: 2px solid white;
  margin: 25px auto;
} 

ul {
  font-size: 12px;
  color: white;
  font-family: serif;
}

p {
  font-size: 16px;
  color: white;
  font-family: serif;
}

body {
  background-color: #5F021F;
}

.basic {
  background-color: #A26BA2;
  width: 300px;
  opacity: 0.7;
  border: 2px solid white;
  margin: 25px auto;
}
